<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Questions Home</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet" />
<link href="css/custom.css" rel="stylesheet" />
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-AMS_CHTML">
</script>
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
	<div th:replace="fragments/header :: header">...</div>
	

	<div class="filler"></div>

	<!-- Main container -->
	<div class="container">

		<div class="pull-right"><button class="btn btn-primary modbut" id="createQuestion" type="submit">Create</button>
		</div>
		<div class="filler"></div>
		<div class="well">
			<form id="query-form"  role="form" autocomplete="off">
				<div class="row">

					<div class="form-group col-md-4">
						<label for="head">Head</label> 
						<input type="text" class="form-control" name="head" id="head-query"></input>
					</div>

					<div class="form-group col-md-4">
						<label for="lesson">Lesson</label>
						<select class="form-control" id="lesson-query"></select>
						<!--<input type="text" class="form-control" name="lesson" id="lesson-query"></input>-->
					</div>

					<div class="form-group col-md-4">
						<label for="topic">Topic</label>
						<select class="form-control" id="topic-query"></select>
						<!--<input type="text" class="form-control" name="topic" id="topic-query"></input>-->
					</div>


				</div>

				<div class="pull-right"><button type="submit" class="btn btn-primary" id="querySubmit">Submit</button>
				</div>
				<div class="filler-small"></div>
			</form>

		</div>
		<div class="filler"></div>
		<div class="alert alert-success alert-dismissible" id="quesSuccess" role="alert" hidden="true">
	  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	  		<span aria-hidden="true">&times;</span></button>
	  		<strong>Success!</strong> Question submitted
		</div>

		<h4>Questions</h4>
		<hr />
		<div id="question-list"></div>

	</div>

	<div id="questionDeleteModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Delete Question</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure, you want to delete?</p>
				</div>
				<div class="modal-footer">
        			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        			<button type="button" class="btn btn-danger" id="questionDelete">Delete</button>
      			</div>
			</div>
		</div>
	</div>


	<div id="questionEditModal" class="modal fade">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title">Create/Edit Question</h4>
				</div>
				<div class="modal-body">
					<div class="well">
						<form id="question-form" data-toggle="validator" role="form" autocomplete="off">
							<div class="row">

								<div class="form-group col-md-4">
								<input type="hidden" id="quesId"></input>
									<label for="head">Head</label> 
									<input type="text"
										class="form-control" name="head" id="head"
										placeholder="Head text" data-smk-msg="Head cannot be empty"
										required="true"> </input>
									<!--<select class="form-control" id="head">
									

									</select>-->
					
									<div class="help-block with-errors"></div>

								</div>

								<div class="form-group col-md-4">

									<label for="lesson">Lesson</label>

									<select class="form-control" id="lesson"></select>
									<div class="help-block with-errors"></div>

								</div>

								<div class="form-group col-md-4">

									<label for="topic">Topic</label> 
								
									<select class="form-control" id="topic"></select>	
									<div class="help-block with-errors"></div>

								</div>


							</div>
							<hr />

							<div class="form-group">
								<label for="questionContent">Question</label>
								<textarea type="text" class="form-control"
									name="questionContent" id="questionContent"
									placeholder="Question content here" rows="6"
									data-smk-msg="Question content cannot be empty" required="true"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label for="option1">Option 1</label>
								<textarea type="text" class="form-control" name="option1"
									id="option1" placeholder="Option text" rows="2"
									data-smk-msg="Option 1 cannot be empty" required="true"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label for="option2">Option 2</label>
								<textarea type="text" class="form-control" name="option2"
									id="option2" placeholder="Option text" rows="2"
									data-smk-msg="Option 2 cannot be empty" required="true"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label for="option3">Option 3</label>
								<textarea type="text" class="form-control" name="option3"
									id="option3" placeholder="Option text" rows="2"
									data-smk-msg="Option 3 cannot be empty" required="true"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="form-group">
								<label for="option4">Option 4</label>
								<textarea type="text" class="form-control" name="option4"
									id="option4" placeholder="Option text" rows="2"
									data-smk-msg="Option 4 cannot be empty" required="true"></textarea>
								<div class="help-block with-errors"></div>
							</div>
							<div class="filler-small"></div>
							<hr />


							<div class="filler-small"></div>

							<div class="row">

								<div class="form-group col-md-4">

									<label for="syllabus">Syllabus</label> <input type="text"
										class="form-control" name="syllabus" id="syllabus"
										data-smk-msg="Syllabus cannot be empty"
										placeholder="Option text" required="true"></input>
									<div class="help-block with-errors"></div>

								</div>

								<div class="form-group col-md-4">

									<label for="exam">Exam</label> 
									<!--<input type="text"
										class="form-control" name="exam" id="exam"
										data-smk-msg="Exam cannot be empty" placeholder="Option text"
										required="true"></input>-->
									<select class="form-control" id="exam" required=true>
										<option value="">Select</option>
										<option value="IIT-JEE">IIT-JEE</option>
										<option value="EAMCET">EAMCET</option>
										<option value="AIEEE">AIEEE</option>
										<option value="OTHER">OTHER</option>
									</select>
									<div class="help-block with-errors"></div>

								</div>

								<div class="form-group col-md-4">

									<label for="difficulty">Difficulty</label> 
									<!--<input type="text"
										class="form-control" name="difficulty" id="difficulty"
										data-smk-pattern="^(EASY|MODERATE|DIFFICULT|VERYDIFFICULT)$"
										data-smk-msg="Enter either EASY,MODERATE,DIFFICULT or VERYDIFFICULT"
										placeholder="Option text" required="true"></input>-->
									<select class="form-control" id="difficulty" required=true>
										<option value="">Select</option>
										<option value="Easy">Easy</option>
										<option value="Medium">Medium</option>
										<option value="Difficult">Difficult</option>
										<option value="Very Difficult">Very Difficult</option>
									</select>	
									<div class="help-block with-errors"></div>

								</div>


							</div>

							<hr />



							<button type="submit" class="btn btn-primary" id="questionSubmit">Submit
							</button>


						

					</div>
					<div class="filler"></div>

					<hr />

				</div>





			</div>
			<!--<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>-->
		</div>
	</div>
	</div>



	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<!--<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/bootstrap-typeahead.min.js"></script>
	<script src="js/smoke.min.js"></script>
	<script src="js/mustache.min.js"></script>
	<script src="js/question-ops.js"></script>
	

	<script id="questionTemplate" type="text/template">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-md-10">
						<h3 class="panel-title">Question {{qNo}}</h3>
					</div>
					<div class="col-md-2">
						<div aria-label="..." role="group"
							class="btn-group pull-right btn-group-xs">
							<button type="button" data-id="{{id}}"
								class="modbut btn btn-default">
								<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
							</button>
							<button type="button" data-id="{{id}}"
								class="delbut btn btn-default">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							</button>
						</div>
					</div>

				</div>
			</div>
			<div class="panel-body">
				
				<div class="row">
					<div class="col-md-12">{{questionContent}}</div>
				</div>
				<div class="filler-small"></div>

				{{#optionList}}
				<div class="row">
					<div class="col-md-10">{{opAlpha}}) {{optionText}}</div>
				</div>
				{{/optionList}}

			</div>
		</div>

	</script>


	<script id="dropdownTemplate" type="text/template">

			<option></option>
			{{#.}}
			<option>{{id}}</option>
			{{/.}}
  			
		

	</script>


</body>
</html>
